package migrations

import (
	"github.com/knyazev-ro/perturabo/alter"
	"github.com/knyazev-ro/perturabo/facades"
)

var {{.MigrationNameVar}} = facades.NewMigration("{{.MigrationName}}", func(m *facades.Migration) {
 	// Name of migration MUST be the same as the filename without .go extenstion
	m.Up(
		func() any {
			return &alter.Table{
				Name: "{{.TableName}}",
				Body: []*alter.Column{
					//alter.Col() ... Fileds place here
				},
			}
		},
	)

	m.Down(
		func() any {
			return &alter.Table{
				Name: "{{.TableName}}",
				Body: []*alter.Column{
					//alter.Col() ... Fileds place here
				},
			}
		},
	)
})
