package migrations

import (
	"github.com/knyazev-ro/vulcan-migrate/create"
	"github.com/knyazev-ro/vulcan-migrate/facades"
	"github.com/knyazev-ro/vulcan-migrate/types"
)

var {{.MigrationNameVar}} = facades.NewMigration("{{.MigrationName}}", func(m *facades.Migration) { 
	// Name of migration MUST be the same as the filename without .go extenstion
	m.Up(
		func() any {
			return &create.Table{
				Name: "{{.TableName}}",
				Body: []*create.Column{
					create.NewId(),

					create.NewTimestamp("updated_at").Default(types.Now()),
					create.NewTimestamp("created_at").Default(types.Now()),
				},
			}
		},
	)

	m.Down(
		func() any {
			return &create.Table{
				Name: "{{.TableName}}",
				Drop: true,
			}
		},
	)
})
